* {
    margin: 0px;
    /* background-color: black; */
}
/* navbar */
#nav-menu {
    width: 100%;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
}

#nav-menu.sticky {
    padding: 15px 0;
    background: #2253c8;
}

#nav-menu .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 50px;
}

#nav-menu .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

#nav-menu .logo a span {
    color:rgb(0, 96, 0);
    transition: all 0.3s ease;
}

#nav-menu.sticky .logo a span {
    color: #fff;
}

#nav-menu .menu{
    margin-right: 70px;
    padding-top: 5px;
}

#nav-menu .menu li {
    list-style: none;
    display: inline-block;
}

#nav-menu .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
}

#nav-menu .menu li a:hover {
    color: #2253c8;
}

#nav-menu.sticky .menu li a:hover {
    color: #fff;
}

#home ,#about, #projects,#skills,#contact{
    height: 400px;
    border: 1px solid red;
}
section{
    padding: 100px;
}


/* home section */

#home{
    text-align: center;
}

#home p:nth-child(1){
    margin-top: 15%;
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px 1px 0 rgb(0, 96, 0),
                          1px 1px 0 rgb(0, 96, 0),
                         1px -1px 0 rgb(0, 96, 0),
                        -1px -1px 0 rgb(0, 96, 0);
}

#home p:nth-child(1):hover{
    transition: 0.3s;
    color:rgb(0, 96, 0);
   
}

#home p:nth-child(2){
    margin-top: 1%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:rgb(0, 96, 0)
}