*{
    margin: 0px;
    background-color: black;
}
#nav-menu {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
  }
  
  #nav-menu.sticky {
    padding: 15px 0;
    background: #2253c8;
  }
  
  #nav-menu .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #nav-menu .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  
  #nav-menu .logo a span {
    color: #2253c8;
    transition: all 0.3s ease;
  }
  
  #nav-menu.sticky .logo a span {
    color: #fff;
  }
  
  #nav-menu .menu li {
    list-style: none;
    display: inline-block;
  }
  
  #nav-menu .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
  }
  
  #nav-menu .menu li a:hover {
    color: #2253c8;
  }
  
  #nav-menu.sticky .menu li a:hover {
    color: #fff;
  }